{
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"importOrder": [
		"^react",
		"^react-dom",

		"react-dom/(.*)$",
		"react-router-dom",
		"@tanstack/react-query",

		"^@/components/(.*)$",
		"^@/pages/(.*)$",
		"^@/hooks/(.*)$",
		"^@/types/(.*)$",
		"^@/utils/(.*)$",
		"@/configs/(.*)$",
		"^@/assets/(.*)$",

		"lucide-react",

		"./(.*)$",
		"../(.*)$",
		".css"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
